dist
db.sqlite3 


prod_settings.py
local_settings.py

--pycache__/
*/__pycache__/
*.py[cod]
.pyc

*.pyc 

.idea/*
.idea

!*media/.gitkeep
media/*

log/debug.log  

build  
doc 
home.rst  
make.bat  
Makefile 

doc-dev  





.idea/workspace.xml
.idea/workspace.xml
.idea/shelf/Uncommitted_changes_before_Update_at_01_05_2022_16_58_\[Changes\]/Antigua
