dist
db.sqlite3 


prod_settings.py
local_settings.py

--pycache__/
*/__pycache__/
*.py[cod]
.pyc

*.pyc 


!*media/.gitkeep  
media/*

log/debug.log  

build  
doc 
home.rst  
make.bat  
Makefile 

doc-dev  





